<div class="container">
    <h2>Adminstración</h2>
    <p>
        <a class="btn btn-success" href="/links/create">Agregar Zapato</a>
    </p>
    <table class="table">
        <tr>
            <th lass="text-center">
                Nombre
            </th>
            <th lass="text-center">
                Imagen
            </th>
            <th lass="text-center">
                Stock
            </th>
            <th lass="text-center">
                Precio
            </th>
            <th class="text-center">Acciones</th>
        </tr>
        {{#each data}}
            <tr>
                <td lass="text-center mt-5">
                    {{ title }}
                </td>
                <td class="text-center"> 
                    <img src="{{ image }}" width="230px" height="200px" class="rounded"/>
                </td>
                <td class="text-center">
                    {{ stock }}
                </td>
                <td class="text-center">
                    {{ price }}
                </td>
                <td class="text-center">
                    <a class="btn btn-info" href="/links/edit/{{ id }}" >Editar</a> |
                    <a class="btn btn-danger" href="/links/delete/{{ id  }}" >Eliminar</a>
                </td>
            </tr>
        {{/each}}
    </table>
  
</div>